{% extends "::base.html.twig" %}

{% block title %}TutoConfigTutoBundle:Default:index{% endblock %}

{% block body %}
<h1>{{ 'tuto.config.title'|trans }}</h1>
<p>{{ 'tuto.config.content'|trans }}</p>

{{ dump(login) }}
{{ dump(password) }}
{{ dump(port) }}
{% endblock %}
